
.vdag {
    background-color: rgb(9, 34, 88);
    color: rgb(138, 241, 255);
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
body{
    background-color: rgb(225, 235, 243);
}
.ndag {
    padding: 10px;
    color: rgb(15, 126, 126);
}





